body{

  width: 100vw;
  height: 100vw;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}


.container{
  display: flex;
  flex-direction: row;
}

.sidepanel{
  margin-top:0.5vw;
  margin-left:1vw;
  display: flex;
  flex-direction: column;
  width: 25%;
}

#logo{
  padding-left: 2vw;
  font-size: 1.8vw;
  color:#41B3A3;
}

#newsfeed-sidenav{
  list-style: none;
  margin-top:2vw;
}

#newsfeed-sidenav li{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3vw;
  margin-bottom: 0.8vw;
  font-weight: 700;
  color:black;
  text-shadow: none;
}

#newsfeed-sidenav .selected{
  color:#41B3A3;
  margin-top: 1.5vw;
}

.menuicon{
  margin-right: 1vw;
}

.posts{
  margin-top:0.5vw;
  margin-left:1vw;
  display: flex;
  flex-direction: column;
  width:50%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  height: 100vh;
}

.searchpanel{
  margin-top:0.5vw;
  margin-left:1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:25%;
}


#titleBanner{
  font-weight:  bold;
  font-size: 1.3vw;
}

.yourTweet{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.5vw;
  width:80%;
  border: 1px #EEEEEE solid;
  padding:0.5vw;

}

.editor{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.editor img{
  width:3vw;
  height:3vw;
  border-radius: 2vw;
  margin-right: 1vw;
}

.editor input{
  width:100%;
  font-size: 1.3vw;
  border:none;
}

input:focus{
  outline: none;
}

.yourTweet div{
  display: flex;
  justify-content: flex-end;
}

.yourTweet button{
  width:12%;
  font-size: 1.2vw;
  padding: 0.3vw;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 1vw;
  border:none;
  color:white;
  font-weight: bold;
  background-color:#41B3A3;
}


.post{
  display: flex;
  flex-direction: row;
  padding: 0.5vw;
  border: 1px #EEEEEE solid;
  width: 80%;
  margin-top: 0.5vw;
  cursor:pointer;
}

.post img{
  width:3vw;
  height:3vw;
  border-radius: 2vw;
  margin-right: 1vw;
}

.titlePane{
  display: flex;
  flex-direction: row;
}

#userName{
  font-weight: bold;
  margin-right:0.5vw;
}

#userHandle{
  color:#BBBBBB;
}

.others{
  display: flex;
  flex-direction: column;
}

#postBody{
  margin-top:0.2vw;
  word-spacing: 0.2vw;
}

.statPane{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0;
  list-style: none;

  position: static;
  color:black;
  font-size:1vw;
  font-weight: 500;
  margin-top: 0.5vw;
}

.stat{
  display: flex;
  align-items: center;
  margin-right: 1vw;
  padding: inherit;
  text-shadow: none;
  cursor:pointer;
}

.searchform{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8vw;
  width: 70%;
  background-color: #EEEEEE;
  border:none;
  border-radius: 2vw;
}

.searchform input{
  background-color: #EEEEEE;
  border:none;
  font-size:1vw;
}

.searchform i{
  color:grey;
}
